<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-permissionScope" version="0.0.1">
  <name>PermissionScope</name>
  <license>Apache 2.0</license>
  <description>Cordova plugin to handle iOS permissions</description>
  <keywords>cordova,phonegap,permission,permissionScope</keywords>

  <hook type="after_plugin_install" src="hooks/after_plugin_add.js" />
  <hook type="after_platform_add" src="hooks/after_plugin_add.js" />
  <hook type="before_plugin_uninstall" src="hooks/before_plugin_rm.js" />

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="PermissionScope">
        <param name="ios-package" value="PermissionScopePlugin"/>
      </feature>
    </config-file>

    <js-module name="PermissionScope" src="www/permissionScope.js">
      <clobbers target="PermissionScope"/>
    </js-module>

    <source-file src="src/ios/PermissionScopePlugin.h"/>
    <source-file src="src/ios/PermissionScopePlugin.m"/>

    <framework src="PermissionScope.framework" custom="true" embed="true" />
   
  </platform>
</plugin>
